body {
    
}

.student-img{
    width: 100px;
    height: 100px;
    object-fit: cover;
    object-position: center center;
    border-radius: 50%;

}

.container {
    display: grid;
    grid-template-columns: repeat(4, 1fr); 
    gap: 10px; 
    // background-image: url("/assets/pentagon_pattern_6822044.jpg");
    
    
}

.student-card{
    display: flex;
    align-items: center;
    gap: 16px;
    padding: 16px;
    border: 1px solid black;
    border-radius: 40% 0% 40% 0% ;
    box-shadow: 9px 12px 28px 1px rgba(230,10,247,0.28);
-webkit-box-shadow: 9px 12px 28px 1px rgba(230,10,247,0.28);
-moz-box-shadow: 9px 12px 28px 1px rgba(230,10,247,0.28);
    margin-top: 24px;
    background-color: rgba(4, 247, 4, 0.11);

}

.btn-sort{
    display: inline;
    border-right: 12px;
}