<!-- <button appSuperButton="crimson" font-color="white">push me!!</button>
<button appSuperButton="gold">push me!!</button>

<div appSuperButton>
  ciao sono un bellissimo div Crimson
</div> -->


<header>
<h1>Student Manager</h1>
<nav>
  <a routerLink="/">home</a>
  <a [routerLink]="['randomize']">randomize</a>
  <a [routerLink]="['addStudent']">addStudent</a>
  <a [routerLink]="['detail']">detail</a>

</nav>

</header>

<main>
  <router-outlet />

</main>

<footer> work in progress!!</footer>



