<!-- <button appSuperButton="crimson" font-color="white">push me!!</button>
<button appSuperButton="gold">push me!!</button>

<div appSuperButton>
  ciao sono un bellissimo div Crimson
</div> -->

<div class="super-container">

<header>
<h1>Student Manager</h1>
<nav class="link-btn">
  <a routerLink="/home">home</a>
  <a [routerLink]="['randomize']">randomize</a>
  <a *ngIf="authServ.isAuth" [routerLink]="['addStudent']">addStudent</a>
  <a *ngIf="!authServ.isAuth" [routerLink]="['login']">login</a>
  <a  *ngIf="authServ.isAuth" (click)="logout()">logout</a>

  <!-- <a [routerLink]="['detail']">detail</a> -->

</nav>

</header>

<main>
  <router-outlet />

</main>

<!-- <footer> work in progress!!</footer> -->

</div>

